/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #d9e8d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .logo{
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 30%;
    margin-bottom: 50px;
  }
  
  .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-item .icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #e60404;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
  }
  
  .menu-item:hover {
    background-color: #8ef067; 
    border-radius: 50px; 
  }
  
  .menu-item:hover .icon {
    transform: scale(1.1);
  }
  
  .menu-item .menu-name {
    display: inline-block;
    margin-left: 0;
    opacity: 0;
    transform: translateX(-20px);
    color: #333;
    padding: 5px 10px;
    border-radius: 20px; 
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.3s ease-in-out; 
  }
  
  .menu-item:hover .menu-name {
    opacity: 1;
    transform: translateX(10px);
    margin-left: 10px; 
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
  .menu-link:hover {
    text-decoration: none;
  }
  .current-item .menu-name {
    opacity: 1;
    transform: translateX(1px); 
    margin-left: 1px;
  }
  .current-item {
    background-color: #8ef067; 
    border-radius: 50px; 
  }

  /* Main Content */
  .main-content {
    width: 80%;
    padding: 50px;
  }
  
  /* Content Header */
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .content-header h1 {
    font-size: 40px;
    color: #333;
  }
  .add-button {
    background-color: #8ef067;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .add-button:hover {
    background-color: #76c657;
  }